.klondike-table {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 120px);
    grid-template-rows: 155px 2fr;
    margin: 0 50px;

    .suits-piles-container {
        display: grid;
        grid-column: 4 / span 4;
        grid-template-columns: repeat(4, 1fr);
    }

}