.game-screen-header {
    background-color: #00000038;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    
    .menu-functions {
        display: flex;
        align-items: center;
    }

    .left {
        justify-content: flex-start;
    }

    .right {
        justify-content: flex-end;
    }

    .game-name {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
    }

}